#  Agenda

* Function
* lambda

# Python Function

* A function is a block of code which only runs when it is called
* You can pass data known as parameter into a function
* A function can return data as a result

## Creating a function

In Python a function is dfining using the del keyword

In [1]:
def abc():
    print("Good Afternoon")

In [2]:
abc()

Good Afternoon

## Calling a Function

To call a function, use the function name followed by parenthesis

In [3]:
def my_function():
    print("Hello from a function")

In [4]:
my_function()

Hello from a function

# Function without Parameter

In [15]:
def miss():
    y='curd'
    if y=="curd":
        print("Here is your food")
    else:
        print("Invalid")

In [16]:
miss()

Here is your food

In [ ]:
def miss():
    print("Food is missed")

# Function with Parameters

In [24]:
def abc(first_name):
    print(first_name + " All good" + ", Good Evenong")

In [25]:
abc("Digambar")

Digambar All good, Good Evenong

In [11]:
def my_function(a,b):
    total=a+b
    sub=total/2
    return (total,sub)

In [12]:
my_function(7,3)

(10, 5.0)

In [18]:
def Substration(a,b,c):
    x=a-b-c
    y=a+b+c
    z=x+y
    un=x-y
    return z

In [17]:
Substration(10,10,10)

NameError: name 'Substration' is not defined

In [19]:
def num(var1,var2,var3,var4):
    output = var1*var2*var3*var4
    return output

In [20]:
num(2,3,2,2)

24

# 2. Keyword Arguments

You can also send arguments with the key = value syntax

This way the order of the arguments does not matter

In [21]:
def my_function(child3,child2,child1):
    print("The youngest child is " + child2)

In [22]:
my_function(child1 = "Hitesh",child2 = "Anil", child3 = "Nikita")

The youngest child is Anil

# Default Parameter Value

In [27]:
def my_function(country = "Norway"):
    print("I am From " + country)

In [28]:
my_function()

I am From Norway

In [29]:
my_function("India")

I am From India

In [30]:
def salary_hra(x,hra=4):
    output = x*(hra/100)
    return output

In [31]:
salary_hra(10000)

400.0

In [32]:
salary_hra(10000,6)

600.0

# Passing a list as a parameter

You can send any datatypes of parameter to a function.

In [33]:
def my_function(food):
    for x in food:
        print(x)

In [34]:
fruits = ["apple","banana","cherry"]
fruits

['apple', 'banana', 'cherry']

In [35]:
my_function(fruits)

apple
banana
cherry

### Return Values

In [37]:
def absolute_value(num):
    if num >=3:
        return num
    else:
        return -num
    
    # Output : 2
    print(absolute_value(2))
    
    # Output : 4
    print(absolute_value(4))

# 4. Collecting Parameter or Arbitrary Arguments

In [38]:
def my_function(*kids):
    print("The youngest child is " + kids[0])

In [39]:
my_function("Dipak","Rahul","Nikta","Pratik")

The youngest child is Dipak